body {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}

code {
	font-size: 11px;
}

code span {
	margin: 0 !important;
}

.scrim, .lightbox {
	position: fixed;
}

.scrim {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .5;
	z-index: 1000;
}

.lightbox {
	text-align: center;
	background-color: white;
	border-radius: 3px;
	z-index: 1001;
	width: 300px;
	left: calc(50% - 150px);
	top: 200px;
	padding: 10px;
}

.lightbox paper-button {
	cursor: pointer;
}

.hidden {
	opacity: 0;
	height: 0;
	transition: all 1s;
	-moz-transition:all 1s;
	-webkit-transition: all 1s;
	-ms-transition:all 1s;
}

.progress-bubbles {
	width: 150px;
	height: 150px;
	vertical-align: top;
	margin-right: 30px;
}

.testing-container {
	position: relative;
	width: 950px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 5px;
	transition: all 1s;
	-moz-transition:all 1s;
	-webkit-transition: all 1s;
	-ms-transition:all 1s;
}

.testing-container .header {
	position: fixed;
	background-color: white;
	width: 910px;
	height: 150px;
	z-index: 500;
	top: 0;
	padding: 20px;
	border-bottom: 1px solid #ccc;
}

.testing-container .left {
	width: 500px;
}

.testing-container .right {
	transition: all 1s;
	float: right;
}

.testing-container .left, .testing-container .right {
	display: inline-block;
	vertical-align: top;
}

.testing-container .header .title {
	display: inline-block;
	font-size: 28px;
	line-height: 100px;
}

.loader {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0px 0px -6px 15px;
}

.testing-container.success {
	transition: all 1s;
	-moz-transition:all 1s;
	-webkit-transition: all 1s;
	-ms-transition:all 1s;
}

.testing-container.failed h1 {
	color: red;
	transition: all 1s;
	-moz-transition:all 1s;
	-webkit-transition: all 1s;
	-ms-transition:all 1s;
}

.testing-container.failed .test-class .test .result.failed {
	color: darkred;
}

.testing-container .tests {
	padding: 20px;
	margin-top: 150px;
}

.testing-container h1, .testing-container h2 {
	font-weight: lighter;
	padding: 20px;
	margin: 0;
	color: #222;
}

.testing-container h1 {
	font-size: 32px;
	font-weight: normal;
	padding-bottom: 0;
}

.testing-container h2 {
	font-size: 24px;
}

.test-class h2:hover {
	cursor: pointer;
	text-decoration: underline;
}

#testing-frame {
	width: 100%;
	height: 1000px;
}

.test-class {
	margin-top: 20px;
}

.test-class .tests {
	padding: 20px;
	margin: 0;
}

.test-class .test {
	position: relative;
	padding: 5px 0px;
	transition: all 1s;
	-moz-transition:all 1s;
	-webkit-transition: all 1s;
	-ms-transition:all 1s;
	height: auto;
	overflow: hidden;
}

.test-class .test.slide-hidden {
	height: 20px;
	transition: all 1s;
	-moz-transition:all 1s;
	-webkit-transition: all 1s;
	-ms-transition:all 1s;
}

.test-class .test .code {
	padding: 10px;
}

.test-class .test .description {
	font-size: 16px;
}

.test-class .test .description:hover {
	cursor: pointer;
	text-decoration: underline;
}

.test-class .test .test-result {
	position: absolute;
	top: 5px;
	right: 5px;
}

.test-class .test .result.pending {
	color: #A89E16;
	transition: all 1s;
	-moz-transition:all 1s;
	-webkit-transition: all 1s;
	-ms-transition:all 1s;
}

.test-class .test .result.passed {
	color: green;
	transition: all 1s;
	-moz-transition:all 1s;
	-webkit-transition: all 1s;
	-ms-transition:all 1s;
}

.test-class .test .result.failed {
	color: red;
	transition: all 1s;
	-moz-transition:all 1s;
	-webkit-transition: all 1s;
	-ms-transition:all 1s;
}

.test-class .stats {

}

span {
	margin: 0px 20px;
}