<link rel="import" href="../polymer/polymer.html">

<polymer-element name="app-globals">
  <script>
    (function(Utils){
      var util = new Utils({
        onAuthComplete: function (authResult) {
          that.onAuthComplete();
        },
        appId: '840867953062',
        clientId: '840867953062.apps.googleusercontent.com'
      });

      var Movie = function () {};

      Movie.prototype = {
        initialize: function (name, director) {
          this.name = name;
          this.director = director;
          this.notes = '';
          this.rating = '';
        }
      }

      Polymer({
        ready: function () {
          this.util = util;
          this.Movie = Movie;
        }
      });
    })(window.Utils);
  </script>
</polymer-element>