<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-animated-pages/transitions/slide-up.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">

<polymer-element name="create-document">
  <template>
    <link rel="stylesheet" href="create-document.css">
    <app-globals id="globals"></app-globals>
      <core-animated-pages id="createPage" selected="{{page}}" transitions="slide-up" on-core-animated-pages-transition-end="{{complete}}">
        <section layout vertical>
          <div class="icons">
            <div class="create-document-jumbo-icon" cross-fade>
              <core-icon id="createDrive" icon="note-add" on-click="{{ onCreateDriveDocumentClick }}"></core-icon>
              <div class="subtitle">Create Realtime Document</div>
            </div>
            <div class="create-document-jumbo-icon" cross-fade>
              <core-icon id="openDrive" icon="drive" on-click="{{ onOpenDriveDocumentClick }}"></core-icon>
              <div class="subtitle">Open Drive Document</div>
            </div>
          </div>
        </section>
        <section id="create" layout vertical>
          <div id="panelBackground" slide-up>
            <div id="panel">
              <div flex class="panel">
                <div class="top">
                  <h1>New Realtime Document</h1>
                  <core-icon icon="drive-file" ></core-icon>
                </div>
                <div class="bottom">
                  <paper-spinner id="loader1" active class="hidden"></paper-spinner>
                  <paper-input id="name" label="Document Name" inputValue="{{ documentName }}"></paper-input>
                  <paper-button id="create" label="Create" on-click="{{ createDriveDocument }}" disabled?="{{ documentName.length == 0 }}"></paper-button>
                </div>
              </div>
              <core-icon id="back" icon="arrow-back" on-click="{{ back }}"></core-icon>
            </div>
          </div>
        </section>
        <section id="load" layout vertical>
          <div id="panelBackground" cross-fade></div>
          <div class="create-document-jumbo-icon" cross-fade>
              <core-icon id="createDrive" icon="cloud-circle"></core-icon>
              <div class="subtitle">Loading document...</div>
            </div>
        </section>
      </core-animated-pages>
    </div>
  </template>
  <script src="create-document.js"></script>
</polymer-element>
