<!DOCTYPE html>
<html>
  <head>
    <title>Realtime API Test Suite</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Load Styles -->
    <link href="css/testingStyles.css" rel="stylesheet" />
    <link href='css/tommorrow-night-theme.css' rel='stylesheet' type='text/css'>

    <!-- Components -->
    <script src="components/platform/platform.js"></script>
    <link rel="import" href="components/paper-spinner/paper-spinner.html" />
    <link rel="import" href="components/font-roboto/roboto.html" />
    <link rel="import" href="components/paper-button/paper-button.html" />

    <!-- JS -->
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="tests/testDocument.js"></script>
    <script src="vendor/realtime-client-utils.js"></script>

    <!-- Libraries -->
    <script src="vendor/highlight.js"></script>
    <script src="vendor/testingClass.js"></script>
    <script src="vendor/testingLibrary.js"></script>

  </head>
  <body onLoad='startRealtime()'>
    <div class="scrim hidden"></div>
    <div class="lightbox hidden">
      <h1>Please Authorize</h1>
      <paper-button name="hi" id="authorize" label="Authorize" onclick="manualAuthorize()"></paper-button>
    </div>
    <script>
      window.testSuite = new FunctionalTesting('Google Drive Realtime API Test Suite');
      document.body.appendChild(testSuite.el);

      window.util = new Utils({
        appId: '840867953062',
        clientId: '840867953062.apps.googleusercontent.com'
      });

      window.testDocument1 = new TestDocument('alpha');
      window.testDocument2 = new TestDocument('beta');

      function onInitializeFile(model) {
        testDocument1.initializeDocument(model);
      }

      function onFileLoaded(doc) {
        testDocument1.onFileLoaded(doc);
        util.load(fileId, onSecondFileLoaded, null);
      }

      function onSecondFileLoaded(doc) {
        testDocument2.onFileLoaded(doc)
        testSuite.execute();
      }

      function onAuthComplete(authResult){
        if (!authResult || authResult.error) {
          document.body.querySelector('.scrim').classList.remove('hidden');
          document.body.querySelector('.lightbox').classList.remove('hidden');
        } else {
          document.body.querySelector('.scrim').classList.add('hidden');
          document.body.querySelector('.lightbox').classList.add('hidden');
          util.createRealtimeFile('test-document', function (resp) {
            window.fileId = resp.result.id;
            util.load(fileId, onFileLoaded, onInitializeFile);
          });
        }
      }

      function manualAuthorize() {
        window.util.authorize(onAuthComplete, true);
      }

      function startRealtime() {
        window.util.authorize(onAuthComplete, false);
      }

      var testPaths = [
        'collaborativeListTests.js',
        'collaborativeMapTests.js',
        'collaborativeStringTests.js',
        'collaboratorObjectTests.js',
        'documentSaveStateChangedEventTests.js',
        // 'documentTests.js',
        // 'clientDocumentImportTests.js',
        // 'serverImportTests.js',
        // 'documentSerializationTests.js',
        'serverImportTests.js',
        'documentSharing.js',
        'errorTests.js',
        'eventListenerTests.js',
        'indexReferenceTests.js',
        'modelTests.js',
        //'realtimeTests.js',
        'referenceShiftedEventTests.js',
        'textDeletedEventTests.js',
        'undoRedoStateChangedEventTests.js',
        'textInsertedEventTests.js',
        'valueChangedEventTests.js',
        'valuesAddedEventTests.js',
        'valuesRemovedEventTests.js',
        'valuesSetEventTests.js'
      ]

      var testPath = util.getParam('testPath');
      if(testPath){
        var script = document.createElement('script');
        script.src = 'tests/' + testPath;
        document.body.appendChild(script);
      } else {
        for(var i = 0; i < testPaths.length; i++){
          var script = document.createElement('script');
          script.src = 'tests/' + testPaths[i];
          document.body.appendChild(script);
        }
      }
    </script>
  </body>
</html>